<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kagssoft.cobonat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".manifests.java.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Layouts.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Layouts.Registration">
            <intent-filter>
                <action android:name="com.kagssoft.cobonat.Registration" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Layouts.Main_wedgit">
            <intent-filter>
                <action android:name="com.kagssoft.cobonat.Layouts.Main_wedgit" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>